@{
    ViewData["Title"] = "Hotel Management";
}

<div class="text-center">
    <h1 class="display-4">Hotel Management</h1> 
</div>
<div class="text-left">
    <p>
        This system aims to make employee's lives easier in managing the inventory of a hotel. To do that, employees could search the name or description of the item.
        The system will list items with images. Once they found the item, then can go to the item and put the quantity they counted.
    </p>
    <p>For Demo purposes, I disabled some notable features so it would not be complicated.</p>
    <br />
    <h3>Notable features</h3>
    <ul>
        <li>The system is created with the help of ASP.NET Core MVC's scaffold and Entity framework.</li>
        <li>Employee management is implemented. <i> Disabled for demo purposes</i></li>
        <li>Ordering is implemented. <i> Disabled for demo purposes</i></li>
        <li>Implemented DataTable plugin to add pagination to item table and asynchonously request a limited amount of items.</li>
        <li>XSS prevention</li>
        <li>Mobile-friendliness. Notable page is item image detail. The image is on the right on desktop but on top on mobile.</li>
        <li>Razor Page. Just one page to showcase that I can have Razor in MVC.</li>
    </ul>
</div>
